@using System.Activities
<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | WildSpirit</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" rel="stylesheet">
    <script src="https://kit.fontawesome.com/db0964e2d9.js" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/css")
    <link href="~/Content/mynavbar.css" rel="stylesheet"/>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
        $(window).on('scroll', function () {
            if ($(window).scrollTop()) {
                $('header').addClass('black');
            } else {
                $('header').removeClass('black');
            }
        })
    </script>
</head>
<body>
<header>
    <a href="#">
        <div class="logo">
            <img src="~/Content/Images/wild-spirit-logo.png" alt="LOGO"/>
        </div>
    </a>
    <div class="menu-toggle"></div>
    <nav>
        <ul>
            <li><a href="#start">Start</a></li>
            <li><a href="#o_nas">O nas</a></li>
            <li><a href="#produkty">Produkty</a></li>
            <li><a href="#kontakt">Kontakt</a></li>
            <li><a href="#">LogIn</a></li>
        </ul>
    </nav>
    <div class="clearfix"></div>
</header>
<script type="text/javascript">
    $(document).ready(function() {
        $('.menu-toggle').click(function() {
            $('.menu-toggle').toggleClass('active');
            $('nav').toggleClass('active');
        });
            
        $('li').click(function () {
            $('.menu-toggle').toggleClass('active');
            $('nav').toggleClass('active');
        });
    })
</script>

<div>
    @RenderBody()
    <hr/>
    <footer class="section-footer">
        <p>@DateTime.Now.Year - Copy rights &copy;. All rights reserved.</p>
    </footer>
</div>

<section id="halo"></section>

@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
